.bck-white{
  background-color: white !important;
}

.bck-ghost{
  background-color: ghostwhite !important
}

.red{
  color: red !important;
}


.errorlist{
    color: white;
    width: 100%;
    height: 35px;
    float: left;
    position: relative;
    background-color: #dd3030;
    border-radius: 5px;
    /*padding: 2px;*/
    text-align: center;
}

.errorlist p{
  float:left;
  width: 100%;
  margin: 0px;
  padding-top: 8.75px;

}


.slow-hide{
    -webkit-transition-property: width height background-color font-size left top color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width height background-color font-size left top color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.slow-hide.delay{
   -webkit-transition-delay: 0.5s;
   transition-delay: 0.5s;
}


/*.menu.menu-full{
  border-right: 1px solid white;

}*/

.menu, .menu-content{
  float:left;
}

.menu .mnu-button{
  display:none;
}

.menu{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  background-color:white;
  left:0;
  height: 50px;
}


.menu .menu-content::before{
  display: none;
}

.menu-content{
  width: 100%;
}

.menu-content > ul{
    float: left;
    list-style: none;
/*	height: 100%;
	min-height: 100%;*/
    padding: 0px;
    display:inline;
    /*width: 100% !important;*/
}

.menu-content > ul img{
  width: 32px;
  height: 32px;
}

.menu-content  ul li{
   float:left;
   width: 125px;
   text-align: center;
   border-bottom: 1px solid white;
   height:50px !important;
   /*padding: 10px 10px 10px 10px !important;*/
   /*padding-top: 20px !important;*/

   display:table;
   cursor: pointer;
}

.menu-content  ul li a{
  display: table-cell;
  vertical-align: middle;
  position:relative;
}


.menu-content  ul li :hover{
  background-color:lightgray;

}

/*.menu-content > ul li a{
   width: 100% !important;
   float:left !important;
   height: 100%;
   ;
   top: 30%;

}*/

.after-menu{
  margin-top: 50px;
}

.frango-card{
   float: left;
   display: inline;
   padding: 5px;
   box-shadow: gray 0px 0px 5px 0px;
   margin: 5px;
   overflow: hidden;
   text-overflow:ellipsis;
}


.vmsis-list-box{
  max-height: 450px;
  background-color : white;

}

.vmsis-list-box input{
    width : 100% !important;
}

.vmsis-list-box ul{
   width : 100%;
   margin : 0px;
   padding : 3px;
   max-height : 450px;
   overflow : auto;
   border-radius : 4px;
   border : 1px solid darkgray;
   box-shadow: darkgray 4px 4px;
}

.vmsis-list-box li {
   list-style: none;
   width : 100%;
   margin : 0px;
}

.vmsis-list-box ul li:hover{

    background-color : #3399FF;
    color : white;
    cursor : pointer;
}

.vmsis-text-box-item-active{
    background-color : blue;
    color : white;
}


.autocomplete{
  position: relative;
}

.autocomplete-container{
  width: 99.5%;
  background-color:white;
  position:absolute;
/*  margin-top: 40px;*/
  z-index: 1032;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.autocomplete-container img{
  width: 32px;
  height: 32px;
}

.autocomplete-container ul{
   box-sizing: border-box;
   width : 100%;
   margin : 0px;
   padding : 2px;
   max-height : 400px;
   overflow : auto;

}

.autocomplete-container ul li{
   list-style: none;
   cursor:pointer;
   min-height: 40px;
   padding: 3px;
   /*margin-bottom: 10px;/*
   /*border-bottom: 1px solid white;*/

}

.autocomplete-container ul li:hover{
  background-color: #0082af;
}

.autocomplete-container ul li span {
  margin-top: 8px;
  /*position: absolute;*/
  margin-left: 5px;
}
.autocomplete-container ul li:hover{
  color: white;
}


.contextmenu{
   background-color: white;
   border: 1px solid #F3F3ED;
   float:left;
   position:absolute;
   /*border-radius: 2px;*/
   z-index: 1031;
   box-shadow: 5px 5px 5px #888888;
   display: none;

}
.contextmenu > liv{
  /*background-color: #F3F3ED;*/
  background-color: ghostwhite;
  border-bottom: 1px solid white;
  padding: 3px;
}

.contextmenu div:hover{
   /*background-color: #DBDBD5;   */
   background-color: #f5f5f5;
   cursor: pointer;
}

.no-overflow{
   overflow:none !important;
}
.auto-overflow{
  overflow: auto;
}
.hid-overflow{
  overflow: hidden !important;
}

.popup-show{
  z-index: 1031 !important;
  height: 100% !important;
  width: 100% !important;
  /*opacity: 0.9 !important;*/
  background: rgba(42, 39, 48, .8) !important;
  /*display: block !important;*/
}



.popup{
   height: 0%;
   width: 0%;
   position:fixed;
   display: table;
   z-index:-1;
   bottom: 0;
   left: 0;
   /*right: 0;*/
   /*top: 0;*/
   /*background-color #2a2730;*/
   /*opacity:0;*/
   /*display:none;*/
   background: rgba(42, 39, 48, .0);

}

.popup-body{
    position:absolute;
 	/*background-color: ghostwhite; */
	height:auto;
  overflow: auto;
	box-shadow: gray 0px 10px 10px 0px ;
	z-index: 1031;
	padding: 5px;
	width:auto;
	margin: 12% auto;
	opacity:1;
}

.popup.full > .popup-body{
	height:99% !important;
	width:99% !important;
	margin: 3px auto !important;
}

.popup.full > .popup-body.white{
   background-color:white;
}

.popup-dlg{
   width: 30%;
   height: 80%;
   margin: 6% 35% 6% 35%;
}

.popup-filter{
  position: absolute !important;
  margin-left:25%;
  width: 40% !important;
  height: 90%;
}

.popup-dlg .content-center{
   display: inline;
   float: left;
   width: 50%;
   text-align: center;
   margin: 0px 40% 0px;
}

.tree-view ul li{
  cursor:pointer;
  padding: 2px;
}

.tree-view ul li ul{
   display:none;
}

.tree-view .node-active{
   display:block;
}

.tree-view .has-child::before{
   content: "+";
   padding-right: 2px;
   padding-left: 2px;
   margin-right: 3px;
   border: 1px solid white;
   background-color: #DBDBD5;
   border-radius: 5px;
}

.tree-view .has-child.opened::before{
   content: "-" !important;
   padding-right: 3px;
   padding-left: 3px;
   margin-right: 5px;

}

.has-no-child.selected, .has-no-child.selected *{
  color: blue !important;
}

.cur-pointer{
  cursor: pointer;
}


.sel-imglist{
  height: 64px;
  width: 64px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  background-color: ghostwhite;
}

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}



.fixed-header{
  margin: 0px !important;
  width: 100%;
  position: fixed;
  z-index:1031;
  max-height:75px;
  background-color: #0082af;
  opacity: 0.9;
  border-bottom: 1px solid white;
}


.after-header{
  margin-top: 53px;
}

.stay-on-top{
  z-index: 1031;
}


.bigger-on-hover:hover{
  box-shadow: gray 0px 10px 10px 0px ;
}



.tab:hover {
    cursor: pointer;    
}

.page-control{
  float: left;
  /*width: 100%;
  max-width: 100%;*/
  height: 100%;  
  box-sizing: border-box;   
  overflow: hidden;

}

.tab-group, .tab{
  float: left;
  /*width: 100%;*/
}

.tab-group{
  margin-top: 8.5px;
  margin-bottom: 14px;
  border-bottom: none;
  background-color: white;
  font-size: 14px;
  text-transform: uppercase;
  height: 30px;  
}

.tab{
  text-align: center;
  height: 100%;    
}

.tab.active {  
  border-bottom: 2px solid;
  border-bottom-color:rgba(238,110,115,0.7);
  color: rgba(238,110,115,0.7);
}


.tab-body-group{
  position: absolute;
  float: left;
  margin-top: 40px;
  height: calc(100% - 40px);
  overflow-x: hidden;  
}

.tab-body{
  position: absolute;
  height: 100%;
  overflow-x:hidden;
  overflow-y: auto;
}


.slow-vertical-moviment{
   -webkit-transition-property: left;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;  

}

[data-datasetname]{
  display:none !important;
}

.wait-body{
	bottom: 0;
	left: 0;
	position: fixed;
    right: 0;
    top: 0;
    height : 100%;
    width:100%;
    z-index: 1050;
}

.wait {

    margin: 50% auto;
    position : relative;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media screen and (max-width: 800px) {
    .after-menu{
       margin-left: 0px;
    }

	.col-wrapper{
	   display:none;
	}

	.fixed-header{
	   max-height:150px;
	}

    .after-header.menu{
      margin-top: 0px;
    }

    .after-header{
      margin-top: 136px;
    }
    .fixed-header.no-fixed-mobile{
      position: relative;
      float: left;
      max-height:none;
    }

    .fixed-header.no-fixed-mobile ~ .after-header{
       margin-top: 0px !important;
    }


    .hide-scroll.no-height{
       /*float: left;
       width: 0% !important;
       height: 0% !important;
       position: fixed;
       z-index: -1;
       opacity: 0;*/
       display: none;
    }

    .hide-scroll.with-height{
       /*height: auto;*/
       display:auto;
    }

    .invisible-mobile{
      visibility: hidden;
    }

	.menu{
	    width: 50px;
        height: 45px;
	    float:left;
        border-right: none;
		background-color:transparent;
		z-index:1031;
		position:fixed;
		left: 0;
		top:0;
	}
	.menu.menu-full .container-btn-mnu{
      border-bottom: 1px solid #ccc;
	}
	.menu.menu-full{
	  min-height: 100% !important;
	  max-height: 100% !important;
	  height: 100% !important;
	  width: 50% !important;
	  min-width: 30% !important;
      max-width: 50% !important;
      z-index: 1031;
      background-color: white;

	}
    .menu.menu-full > .menu-content ul{
       height: 100%;
    }

	.menu  ul{
	   display:none;
	   height:auto;

	}

    .menu-content > ul li:hover{
       color:gray;
       /*box-shadow: gray 0px 0px 10px;*/
       background-color:#0082af;
       /*transition: background-color 1s ease*/
    }

    .menu .menu-content{
      background-color: transparent;
    }

    .menu .mnu-button{
      display:block;
	   padding-left: 10px;
	   padding-top: 7px;
	   box-sizing: border-box;

    }
    .menu-content > ul {
	    float:left;
	    margin-left:0px;
		width:100%;
    }

	.menu-full .menu-content > ul li{
	   min-height: 40px;
	   width: 100%;
	   border-bottom: 1px solid #ccc;
	}

    .menu-full .menu-suspended li{
	   height: 40px;
	}

	.header{
	   display:none !important;
	}


   .message, .errorlist{
	    width: 100%;
   }
   .tabled-head{
      border-bottom: none !important;
   }

   .tabled-head div{
     background-color: #66a2ff;
     border-bottom: 1px inset white;
     color:white;
   }

   .tabled-head div:last-child{
      border-bottom: none;
   }

   .tabled-row{
     border-bottom: 2px solid #a2c3c3;
   }

   [data-model]{
     display:none;
   }

   .wait{
     margin: 50% auto;
    width: 60px;
    height: 60px;

   }

   .popup-dlg{
    width: 30%;
    height: 80%;
    margin: 6% 35% 6% 35%;
  }

}

@media screen and (max-width: 768px) {
    .fixed-header.no-fixed-mobile ~ .after-header{
       margin-top: 0px !important;
    }
}

@media screen and (max-width: 414px) {
    .fixed-header.no-fixed-mobile ~ .after-header{
       margin-top: 0px !important;
    }

}

@media screen and (max-width: 600px) {

   .popup-dlg{
    width: 80%;
    height: 80%;
    margin: 6% 10% 6% 10%;
    }
}


@media screen and (max-height:600px){
    .menu-suspended li{
	   height: 40px;
	}

	.menu{
	  overflow: auto;
	}
}
